/* Header */

.header {
    display: inline-block;
    background-color: #1f6aac;
    width: 100%;
    color: #f0f0f0;
    padding: 5px 0 5px 5px;
}

.label-user {
    float: right;
    padding: 5px 10px;
}	

#usuicon {
	font-size: 5em;
}

#usunome {
	position: relative;
	bottom: 15px;
}

#qrcode {
	color: #1f6aac;
	position: relative;
	bottom: 30px;
}

#navicon {
	color: #1f6aac;
	font-size: 3em;
	position: relative;
	left: 50px;
}

#menu-toggle {
	padding: 6px;
}

#criar {
	margin-top: 30px;
}

/* -- Header --*/

#succes-logo {
	width: 30%;
	height: 30%;
}

.payment-data .box {
	border: 2px solid black;
}

.payment-value {
	float-right;	
}

.payment-data {
	overflow: hidden;
}

.label-title {
	font-size: 1.6em;
	color: #1f6aac;
	margin-bottom: 0px;
}

.label-simple {
	margin-bottom: 0px;	
}

.label-subtitle {
	font-size: 1em;
}

#payment-value {
	margin-top: auto;
	font-size: 1.8em;
	color: #1f6aac;
}

#image-logo {
	width: 300px;
}

#image-logocad {
	width: 50px;
	margin-left: 50px;
	margin-top: 5px;
	margin-bottom: 50px;
}


.center-align {
    align-items: center;
}

.ticket-data {
	margin-top: 50%;
}